@import './style.scss';

.singleMediaWrapper {
    min-width: 164px;
    min-height: 154px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(medium){
        min-width: 220px;
        min-height: 192px;
    }

    @include respond(large){
        min-width: 280px;
        min-height: 226px;
    }
}

.mediaImg {
    height: 110px;
    @include respond(medium){
        height: 140px;
    }
    @include respond(large){
        height: 174px;
    }
    position: relative;
}

.mediaImg > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.bookmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    background-color: rgba(151, 151, 151, 0.6);
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bookmark:hover{
    background-color: $white;
}

.bookmark:hover .bookmarkIcon {
    stroke: $dark-blue;
}

.bookmark:active{
    background-color: rgba(151, 151, 151, 0.6);
}

.bookmark:active .bookmarkIcon {
    fill: $white;
    stroke: none;
}

.bookmarkIcon {
    fill: none;
    stroke: $white;
}

.mediaInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: weight(light);
    color: $white;
    font-size: $font-body-small;
    opacity: 75%;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: $white;
    border-radius: 50%;
}

.category {
    display: flex;
    align-items: center;
    gap: 2px;
}

.mediaIcon {
    filter: invert(99%) sepia(0%) saturate(101%) hue-rotate(195deg) brightness(117%) contrast(100%);
    
}

.mediaTitle {
    color: $white;
    font-size: $font-body-medium;
    font-weight: weight(medium);
}